@import "colors";

$footer-height: 45px !default;

/**
 * The height of the header navbar.
 */
$header-height: 24px !default;


$brandColor: $indigo !default;

$light-Color: $gray-900 !default;
$light-bgColor: $white !default;
$light-linkColor: $light-Color !default;

$dark-Color: $gray-300 !default;
$dark-bgColor: $gray-600 !default;
$dark-linkColor: $dark-Color !default;
