     </div>
    </div>
  </div>

  <footer class="footer navbar">
    <div class="container">
      <div class="col text-right text-muted text-small text-nowrap">
        <small>
          Powered by <a href="http://nginx.org">nginx</a>,
            <a href="https://github.com/aperezdc/ngx-fancyindex">fancyindex</a>
            and the <a href="https://github.com/alehaa/nginx-fancyindex-flat-theme">flat theme</a>.
        </small>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>
  <script>
    document.getElementById('style-css').setAttribute('href', `${themeFolder}/style.css`);
    document.getElementById('breadcrumbs-js').setAttribute('src', `${themeFolder}/js/breadcrumbs.js`);
    document.getElementById('list-js').setAttribute('src', `${themeFolder}/js/list.js`);
    document.getElementById('favicon').setAttribute('href', `${themeFolder}/favicon.png`);
  </script>
   <script type="text/javascript">
     window.addEventListener('load', (event) =>{

       generateBreadcrumbs();
       generateList();

     });
   </script>
</body>

</html>
